$dark-charcoal: #454850;
$light-gray: #C0C5C1;
$pale-blue: #EDF9F9;

html {
  background-color: $pale-blue;
}

body, h1, a {
  margin: 0;
  font-family: lobster, cursive;
  color: $dark-charcoal;
  text-decoration: none;
  text-align: center;
}

img {
  width: 30%;
  height: 30%;
  border: 2px solid $light-gray;
}

.image-cell {
  border: 2px solid $light-gray;
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 80%;
    height: 80%;
  }
}

header {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/01/12/16/blue-2564914_1280.jpg");
  background-size: cover;
  background-position: left;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: $dark-charcoal;
}

nav a {
  text-decoration: none;
  color: $pale-blue;
  margin: 2%;
}

.gridcell a {
  text-decoration: none;
  color: $dark-charcoal;
}

h1 {
  font-size: 60px;
  padding: 3%
}

h2 {
  font-size: 45px;
}

h3 {
  margin: 1%;
  font-size: 25px;
}

p.content {
  margin-left: 1%;
}

section.content {
  display: flex;
  margin-left: 15%;
  width: 70%;
  border: 2px solid $light-gray;
}

section.grid {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.grid-cell {
  margin: 2.5%;
  background-color: $light-gray;
  width: 20%;
}

footer {
  padding: 1%;
  margin: 0;
  background-color: $pale-blue;
  width: 100%;
  position: sticky;
  bottom: 0;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 15%;
}

.flash{
  margin: 0;
}
