<h2>Categories</h2>

<section class="grid">
  <% @categories.each do |category| %>
    <div class="grid-cell">
      <h3><%= link_to category.name, category_path(category) %></h3>
      <p><%= link_to "Edit", edit_category_path(category) %> - <%= link_to "Delete", category_path(category), method: :delete %></p>
    </div>
  <% end %>
</section>

<footer class="new-category">
  <h3>New Category</h3>
  <%= render partial: "form" %>
</footer>
