<h2>Images</h2>

<% @images.each do |image| %>
  <img src="<%= image.url %>">
  <%= image.alt_tag %>
  <%= link_to "Edit", edit_image_path(image) %>
<% end %>

<h3>Add Image</h3>
<%= render partial: "form" %>
